.btnGoBack {
    width: 150px; 
    height: 60px; 
    padding: 10px;
    border-radius: 30px;
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .btnGoBack:hover {
    transform: scale(1.1);
    background-color: #e1e1e1;
    color: #222;
  }